<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
    <title>Vercel HTMX Starter</title>
    <meta
    name="description"
    content="High-performance HTML based website template."
    />
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
  </head>
  <body>
    <h1>Vercel HTMX Starter</h1>
    <p>a completely silly example of picking an artist then picking and displaying albums </p>
    <p>i wanted to learn htmx and pulled the discogs API as an example</p>
    <div>
        <h2>Select Artist:</h2>
        <div class="artist" hx-get="/albums?artist=95886" hx-target="#albums">Hall and Oates</div>
        <div class="artist" hx-get="/albums?artist=82730" hx-target="#albums">The Beatles</div>
        <div class="artist" hx-get="/albums?artist=3840" hx-target="#albums">Radiohead</div>
    </div>
    <div id="albums"></div>
  </body>
</html>
